<div class="border6 h10 relative z-2 mt-5"></div>
<section id="footer" class="bg-navy relative">
  <div class="flex flex-column flex-row-md justify-center items-center items-start-md mv4 mh4">
    <img src="/assets/images/cta-logomark-01.png" class="w10 mh4 order-4 order-0-md"/>
    <div class="flex flex-column mh4 order-3 order-1-md mb4 mb0-md">
      <a href="http://cta-usa.org/" target="_blank" class="dim white mb1" href="#">Call to Action National</a>
      <a href="https://calltoactionmd.org/" target="_blank" class="dim white" href="#">Call to Action MD</a>
      <p class="mt4">&copy;2017 Call to Action MD</p>
    </div>
    <div class="flex flex-column mh4 order-1 order-2-md mb4 mb0-md">
      <a href="https://www.facebook.com/CTAMD" target="_blank" class="dim white mb1" href="#">Facebook</a>
      <a href="https://twitter.com/CallToActionMD" target="_blank" class="dim white" href="#">Twitter</a>
    </div>
    <div class="flex flex-column mh4 order-0 order-3-md mb4 mb0-md">
      <p class="mv0">For questions, contact:</p>
      <p class="">
        <span class="fw6">Ryan Sattler, CTA MD Chair</span><br>
        ryansattler@comcast.net<br>
        443–275–1180
      </p>
    </div>
  </div>
</section>
