<div class="border4 h10 relative z-2 mt-5"></div>
<section id="hotel" class="bg-green relative z-2 pa4 pb10">
  <h1 class="ma4 dn db-lg f1 ttu absolute text-rotate">Hotel & Location</h1>
  <div class="bg-blob pv12 ph12-sm navy measure-extra-wide center flex flex-column items-center">
    <h1 class="f4 tracked ttu tc mb6 mt0">Conference Location</h1>
    <h2 class="f2 tc">DoubleTree by Hilton - BWI Airport</h2>
    <p class="f5 lh-2 tc">890 Elkridge Landing Rd<br>Linthicum, MD 21090<br>(410) 859-8400</p>
    <p class="f5 mv6 tc center">We have reserved a block of discounted rooms at the hotel for conference guests.</p>
    <a href="http://doubletree.hilton.com/en/dt/groups/personalized/B/BWIBADT-CTA-20171020/index.jhtml?WT.mc_id=POG" target="_blank" class="f5 dim pointer tc bg-purple white link ph8 pv1 br-pill mv4 dib">Click here to reserve your hotel room.</a>
  </div>
</section>
