<div class="border1 h10 relative z-2 mt48"></div>
<section id="intro" class="bg-g1 relative z-2 pa4 pb10">
  <div class="measure-extra-wide center flex flex-column items-center pv6">
    <p class="f5 f3-sm tc lh-2 fw4">{{ site.data.text.description }}</p>
    <p class="f5 f3-sm tc lh-2 fw4">Join us in Baltimore, MD on October 20–21, 2017.</p>
    <a href="https://goo.gl/forms/AmBzDpkAVmVnyemC2" target="_blank" class="f4 dim pointer tc navy fw6 bg-white link ph8 pv1 br-pill mv4">Click here to register!</a>
  </div>
</section>
