<nav class="fixed top-0 left-0 w-100 z-3 bg-navy">
  <input type="checkbox" class="dn" id="menu-toggle"/>
  <label id="menu-btn" for="menu-toggle" class="f4 f6-sm white dim tracked-mini ttu fw6 pa1 mv1 pointer dib relative   left-50 transform-center dn-sm"></label>
  <div id="menu" class="flex flex-column flex-row-sm measure-extra-wide center justify-between mv6 mv1-sm tc">
    <a href="#program" class="f4 f6-sm white link dim tracked-mini ttu fw6 pa1 mv1 mv0-sm">Program</a>
    <a href="#schedule" class="f4 f6-sm white link dim tracked-mini ttu fw6 pa1 mv1 mv0-sm">Schedule</a>
    <a href="#hotel" class="f4 f6-sm white link dim tracked-mini ttu fw6 pa1 mv1 mv0-sm">Hotel & Location</a>
    <a href="#registration" class="f4 f6-sm white link dim tracked-mini ttu fw6 pa1 mv1 mv0-sm">Registration</a>
  </div>
</nav>
