<div class="border5 h10 relative z-2 mt-5"></div>
<section id="registration" class="bg-g5 relative pa4 pb10 z-2">
  <h1 class="ma4 dn db-lg f1 ttu absolute text-rotate">Register</h1>
  <h1 class="f4 tracked ttu tc mb1 mt0 pt6">Registration Fee:</h1>
  <h1 class="f1 fw4 tc mt1 mb6">$150</h1>
  <p class="ptserif lh-3 f5 tc measure center">Friday reception and Saturday breakfast & lunch included in registration fee. This fee includes a $50 non-refundable cancellation fee.</p>
  <p class="ptserif lh-3 i f5 tc measure center">An additional gift to fund the scholarship program is appreciated. Limited partial and full scholarships are available; you are asked to pay what you are able.</p>
  <a href="https://goo.gl/forms/AmBzDpkAVmVnyemC2" target="_blank" class="f4 fw6 dim pointer tc navy bg-white link ph8 pv1 br-pill mv4 dib left-50 transform-center relative">Click here to register!</a>
</section>
