// Border
$border-width: 2px;
$border-radius: 4px;

// Breakpoints
$breakpoints: (
  xs: 32em,
  sm: 40em,
  md: 52em,
  lg: 64em
);

// Loop Counts
$spacing-count: 48; //Generates margin and padding classes 0.5rem increments
$layout-count: 48; //Generates height/width classes in 0.5rem increments

// Type Scale
$h1: 3rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.25rem;
$h6: 1rem;

$line-height-1: 1;
$line-height-2: 1.25;
$line-height-3: 1.5;
$line-height-4: 2;

$measure-1: 20em;
$measure-2: 30em;
$measure-3: 40em;
$measure-4: 50em;

// Color Definitions
$white: #FFFFFF;
$black: #000000;
$light-grey: #D3D3D3;
$dark-grey: #A9A9A9;
$navy: #050072;
$blue: #3FA9F5;
$pink: #E62882;
$green: #7AD278;
$orange: #FFAA14;
$purple: #6E28A0;

// Color Palette
$color-palette: (
white: $white,
black: $black,
light-grey: $light-grey,
dark-grey: $dark-grey,
navy: $navy,
blue: $blue,
pink: $pink,
green: $green,
orange: $orange,
purple: $purple
);

// Color Palette
$color-gradient: (
g1: linear-gradient($green, $blue),
g2: linear-gradient($purple, $pink),
g3: linear-gradient($blue, $purple),
g5: linear-gradient($purple, $blue)
);
