@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Work+Sans:100,200,300,400,500,600,700,800,900');

.border1 {
  background: url(/assets/images/border1.svg) center top no-repeat;
  background-size: 100% auto;
}
.border2 {
  background: url(/assets/images/border2.svg) center top no-repeat;
  background-size: 100% auto;
}
.border3 {
  background: url(/assets/images/border3.svg) center top no-repeat;
  background-size: 100% auto;
}
.border4 {
  background: url(/assets/images/border4.svg) center top no-repeat;
  background-size: 100% auto;
}
.border5 {
  background: url(/assets/images/border5.svg) center top no-repeat;
  background-size: 100% auto;
}
.border6 {
  background: url(/assets/images/border6.svg) center top no-repeat;
  background-size: 100% auto;
}

.mt-5 {   margin-top: -5rem; }

.bio1 {
  mask-image: url(/assets/images/bio1.svg);
}

.bg-blob { background-image: url(/assets/images/blob.svg); }

.left-50 { left: 50%; }
.transform-center { transform: translateX(-50%); }

.work { font-family: 'Work Sans', sans-serif; }
.ptserif { font-family: 'PT Serif', serif; }

.h0 { height: 0; }

.plus::after {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 2rem;
  transform: translateY(-50%);
  content: '+';
}

.text-rotate {
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
 }

ul {
  margin: 0;
  padding: 0;
}
ul { list-style-type: none; }
ul > li {
  text-indent: -1em;
  padding-left: 1em;
}
ul > li:before {
  content: "— ";
  text-indent: -5px;
}

#menu {
  display: none;
  @media (min-width: 40em) {
    display: flex;
  }
}
#menu-btn::after { content: 'menu'; }
#menu-toggle:checked ~ #menu-btn::after { content: 'close'; }
#menu-toggle:checked ~ #menu { display: flex; }
